[color theme]

{# Windows background, active: Override normal window background #}
col_main_bg={{ black | active }}
{# Main window, transport background #}
{# col_main_bg2={{ black }} #}
col_main_bg2={{ black }}
{# Window edit background #}
col_main_editbk={{ black }}
{# Main window resize area #}
col_main_resize={{ black }}
{# Main window text #}
col_main_text2={{ white }}
{# Window text #}
col_main_text={{ white }}
{# Main window text shadow #}
col_main_textshadow={{ white }}
{# Main window higlight #}
col_main_3dhl={{ black }}
{# Main window shadow #}
col_main_3dsh={{ black }}
{# Transport edit background #}
col_transport_editbk={{ black }}
{# Toolbar frame #}
col_toolbar_frame={{ black }}
{# Toolbar text #}
col_toolbar_text={{ black }}
{# Toolbar text active #}
col_toolbar_text_on={{ black_l }}
{# Toolbar button armed #}
toolbararmed_color={{ black }}
{# Toolbar button armed fill mode #}
toolbararmed_drawmode={{ draw_mode("normal", 5) }}
{# I/O Text, higligh, shadow #}
io_text={{ white }}
io_3dhl={{ black }}
io_3dsh={{ black }}
{# Window list background #}
genlist_bg={{ black }}
{# Window list foreground #}
genlist_fg={{ white }}
{# Window list grid line #}
genlist_grid={{ white }}
{# Window list selected row #}
genlist_selbg={{ black_l }}
{# Window list selected text #}
genlist_selfg={{ white_l }}
{# Window list selected background #}
genlist_seliabg={{ black_l }}
{# Window list selected text #}
genlist_seliafg={{ white_l }}

{# Playback when not 1 #}
playrate_edited={{ red }}

{# Fader background on automation recording #}
col_fadearm={{ blue }}
{# Fader background on automation playing #}
col_fadearm2={{ blue }}
{# Fader background on automation touch/latch #}
col_fadearm3={{ blue }}

{# Envelope Automation item unselect #}
auto_item_unsel={{ blue }}
{# Envelope volume pre-fx #}
col_env1={{ blue }}
{# Envelope volume #}
col_env2={{ blue }}
{# Envelope pan pre-fx #}
col_env3={{ blue }}
{# Envelope pan #}
col_env4={{ blue }}
{# Envelope mute #}
env_track_mute={{ blue }}
{# Envelope master playrate #}
col_env5={{ blue }}
{# Envelope master tempo #}
col_env6={{ blue }}
{# Envelope send volume #}
col_env7={{ blue }}
{# Envelope send pan #}
col_env8={{ blue }}
{# Envelope send volume 2 #}
col_env9={{ blue }}
{# Envelope send pan 2 #}
col_env10={{ blue }}
{# Envelope send mute #}
env_sends_mute={{ blue }}
{# Envelope Audio hardware output volume #}
col_env11={{ blue }}
{# Envelope Audio hardware output pan #}
col_env12={{ blue }}
{# Envelope Fx parameter 1 #}
col_env13={{ blue }}
{# Envelope Fx parameter 2 #}
col_env14={{ blue }}
{# Envelope Fx parameter 3 #}
col_env15={{ blue }}
{# Envelope Fx parameter 4 #}
col_env16={{ blue }}
{# Envelope item take volume #}
env_item_vol={{ blue }}
{# Envelope item take pan #}
env_item_pan={{ blue }}
{# Envelope item take mute #}
env_item_mute={{ blue }}
{# Envelope item take pitch #}
env_item_pitch={{ blue }}

{# Edit cursors #}
col_cursor={{ black_l }}
col_cursor2={{ black_l }}

{# Play cursors #}
playcursor_color={{ white }}
playcursor_drawmode={{ draw_mode("normal", 5) }}

{# Grid line (start of measure) #}
col_gridlines2={{ white | light(-40) }}
{# Grid line (start of beat) #}
col_gridlines3={{ white | light(-50) }}
{# Grid line (between beats) #}
col_gridlines={{ white | light(-50) }}
{# Editing line, border of selected media item #}
guideline_color={{ white }}
guideline_drawmode={{ draw_mode("normal", 5) }}

{# Odd track background #}
col_tr1_bg={{ black }}
{# Odd track divider #}
col_tr1_divline={{ black_l }}
{# Envelople odd track divider #}
col_envlane1_divline={{ red }}
{# Even track background #}
col_tr2_bg={{ black }}
{# Even track divider #}
col_tr2_divline={{ black_l }}
{# Envelople even track divider #}
col_envlane2_divline={{ green }}


{# Draw a line of color on the active take #}
activetake_tag={{ black }}

{# Empty mixer background #}
col_mixerbg={{ black }}
{# Empty arrange vertical grid shading #}
arrange_vgrid={{ black }}
{# Empty arrange view area #}
col_arrangebg={{ black }}
{# Empty track area background #}
col_tracklistbg={{ black }}

{# Button background, active: force border #}
col_buttonbg={{ black }}

{# Media item label #}
col_mi_label={{ black }}
{# Media item label selected #}
col_mi_label_sel={{ black }}
{# Media item label floating #}
col_mi_label_float={{ black }}
{# Media item label floating selected #}
col_mi_label_float_sel={{ black }}
{# Track media item background #}
col_mi_bg={{ black }}
col_mi_bg2={{ black }}
{# Track media item background selected and fill mode #}
col_tr1_itembgsel={{ black }}
col_tr2_itembgsel={{ black }}
itembg_drawmode={{ draw_mode("normal", 2) }}
{# Track media item peaks #}
col_tr1_peaks={{ black }}
col_tr2_peaks={{ black }}
{# Track media item peaks selected #}
col_tr2_ps2={{ black_l }}
col_tr1_ps2={{ black_l }}
{# Track media item peaks higlight edges #}
col_peaksedge={{ black }}
col_peaksedge2={{ black }}
{# Track media item peaks higlight edges selected #}
col_peaksedgesel={{ black_l }}
col_peaksedgesel2={{ black_l }}
{# Media item midi cc peaks fill mod #}
cc_chase_drawmode={{ draw_mode("normal", 5) }}
{# Media item peaks active in crossfade editor fade-in/out #}
col_peaksfade={{ null }}
col_peaksfade2={{ null }}



{# Media item fade/volume control #}
col_mi_fades={{ blue }}
{# Media item fade area color #}
fadearea_color={{ black }}
fadearea_drawmode={{ draw_mode("normal", 5) }}
{# Media item fade quiet zone color #}
fadezone_color={{ black }}
fadezone_drawmode={{ draw_mode("normal", 5) }}
{# Media item edge control & blend mode #}
col_mi_fade2={{ white }}
col_mi_fade2_drawmode={{ draw_mode("normal", 5) }}
{# Media item edge when selected via grouping #}
item_grouphl={{ white }}
{# Media item "offline" text #}
col_offlinetext={{ white }}
{# Media item stretch markers #}
col_stretchmarker={{ null }}
{# Media item stretch markers edge #}
col_stretchmarker_b={{ null }}
{# Media item stretch markers (1x) #}
col_stretchmarker_h0={{ null }}
{# Media item stretch markers (>1x) #}
col_stretchmarker_h1={{ null }}
{# Media item stretch markers (<1x) #}
col_stretchmarker_h2={{ null }}
{# Media item stretch markers text #}
col_stretchmarker_text={{ null }}
{# Media item stretch markers transiant guide handle #}
col_stretchmarker_tm={{ null }}
col_stretchmarkerm={{ draw_mode("normal", 5) }}


{# Track panel text #}
col_tcp_text={{ black }}
{# Selected track panel text #}
col_tcp_textsel={{ black }}
{# Selected track control panel background #}
col_seltrack={{ black }}
{# Unselected track control panel background and checkbox (theme override normal windows) #}
col_seltrack2={{ black | active }}
{# Locked track color and mode #}
tcplocked_color={{ black }}
tcplocked_drawmode={{ draw_mode("normal", 5) }}


{# Timeline foreground #}
col_tl_fg={{ white }}
{# Timeline foreground selection 2#}
col_tl_fg2={{ white }}
{# Timeline background #}
col_tl_bg={{ black }}
{# Timeline background selection filling #}
col_tl_bgsel={{ black }}
{# Timeline selection background #}
timesel_drawmode={{ draw_mode("normal", 5) }}
{# Timeline background selection borders #}
col_tl_bgsel2={{ black_l }}

{# Regions color, background and text #}
region={{ white }}
region_lane_bg={{ black }}
region_lane_text={{ black }}
{# Markers color, background and text #}
marker={{ white }}
marker_lane_bg={{ black }}
marker_lane_text={{ black }}
{# Time signature color, background, text, selected bg #}
col_tsigmark={{ white }}
ts_lane_bg={{ black }}
ts_lane_text={{ white }}
timesig_sel_bg={{ black_l }}

{# Transport line background and foreground #}
col_trans_bg={{ black }}
col_trans_fg={{ white }}

{# Vue Meter clip indicator #}
col_vuclip={{ null }}
{# Vue Meter Top #}
col_vutop={{ null }}
{# Vue Meter Middle #}
col_vumid={{ null }}
{# Vue Meter bottom #}
col_vubot={{ null }}
{# Vue meter interlace edge color #}
col_vuintcol={{ null }}
{# Vue meter midi activity #}
col_vumidi={{ null }}
{# Vue Meter no signal #}
col_vuind1={{ null }}
{# Vue Meter low signal #}
col_vuind2={{ null }}
{# Vue Meter med signal #}
col_vuind3={{ null }}
{# Vue Meter hot signal #}
col_vuind4={{ null }}

{# Tab control background #}
docker_bg={{ black }}
{# Tab control selected tab #}
docker_selface={{ black }}
{# Tab control selected tab #}
docker_shadow={{ black }}
{# Tab control text color #}
docker_text={{ black }}
{# Selected tab control text color #}
docker_text_sel={{ black }}
{# Unselected tab control #}
docker_unselface={{ black }}
{# Tab control background in window #}
windowtab_bg={{ black }}

{# Selection/Marquee fill outline and draw mode #}
marquee_fill={{ black }}
marquee_outline={{ black }}
marquee_drawmode={{ draw_mode("normal", 5) }} 
{# Selection/Marquee zoom fill outline and draw mode #}
marqueezoom_fill={{ null }}
marqueezoom_outline={{ null }}
marqueezoom_drawmode={{ draw_mode("normal", 5) }}

{# Mixer Text for effects #}
mcp_fx_normal={{ white }}
mcp_fx_bypassed={{ black_l }}
mcp_fx_offlined={{ black }}
{# Mixer Text for fx param #}
mcp_fxparm_normal={{ white }}
mcp_fxparm_bypassed={{ black_l }}
mcp_fxparm_offlined={{ black }}
{# Mixer Text for sends #}
mcp_sends_normal={{ white }}
mcp_sends_levels={{ white }}
mcp_sends_muted={{ black_l }}
{# Mixer Text for midi sends #}
mcp_send_midihw={{ white }}


{# Midi ruler #}
midi_rulerbg={{ black }}
midi_rulerfg={{ white }}
{# Midi End marker #}
midi_endpt={{ white_l }}
{# Midi grid, start of measure, start of beat, in between #}
midi_grid2={{ white_l }}
midi_grid3={{ white }}
midi_grid1={{ black_l }}
{# Track white/black keys  and selected#}
midi_trackbg1={{ black_l }}
midi_trackbg2={{ black }}
midi_selpitch1={{ white }}
midi_selpitch2={{ white }}
midioct={{ black_l }}
{# Track out of bounds #}
midi_trackbg_outer1={{ black_l }}
midi_trackbg_outer2={{ black }}

{# Inline midi editor white/black keys #}
midi_inline_trackbg1={{ black_l }}
midi_inline_trackbg2={{ black }}
{# Inline midi editor octave #}
midioct_inline={{ black_l }}

{# Midi note selected/unselected #}
midi_notebg={{ black }}
midi_notefg={{ white }}
{# Midi muted note, and selected #}
midi_notemute={{ null }}
midi_notemute_sel={{ null }}
{# Midi offscreen note, and selected #}
midi_ofsn={{ null }}
midi_ofsnsel={{ null }}
{# Midi note control #}
midi_itemctl={{ null }}
{# Midi select bg #}
midi_selbg={{ black }}
midi_selbg_drawmode={{ draw_mode("normal", 5) }}

{# Edit cursor #}
midi_editcurs={{ white_l }}
{# Text on key natural, sharps, selected #}
midi_pkey1={{ black_l }}
midi_pkey2={{ black }}
midi_pkey3={{ black_l }}

{# Midi note on flash #}
midi_noteon_flash={{ white }}

{# Midi list editor backgrounds #}
midieditorlist_bg={{ black }}
midieditorlist_bg2={{ black }}
{# Midi list editor foregrounds #}
midieditorlist_fg2={{ white }}
midieditorlist_fg={{ white }}
{# Midi list editor grid lines #}
midieditorlist_grid={{ black }}
{# Midi list editor selected backgrounds #}
midieditorlist_selbg={{ black }}
midieditorlist_selbg2={{ black_l }}
{# Midi list editor selected foregrounds #}
midieditorlist_selfg={{ white }}
midieditorlist_selfg2={{ white }}
{# Midi list editor selected inactive #}
midieditorlist_seliafg={{ white }}
midieditorlist_seliabg={{ black }}

{# Midi cc text light and dark #}
midifont_col_dark={{ black }}
midifont_col_light={{ black_l }}

{# Midi notation editor #}
score_bg={{ black }}
score_fg={{ white }}
score_sel={{ black_l }}
score_timesel={{ white }}
score_loop={{ white }}

{# Routing matrix row/column highlight #}
col_routinghl1={{ black_l }}
col_routinghl2={{ black_l }}

{# Selected media item color bar #}
selitem_tag={{ null }}

{# TODO #}

group_0={{ null }}
group_1={{ null }}
group_2={{ null }}
group_3={{ null }}
group_4={{ null }}
group_5={{ null }}
group_6={{ null }}
group_7={{ null }}
group_8={{ null }}
group_9={{ null }}
group_10={{ null }}
group_11={{ null }}
group_12={{ null }}
group_13={{ null }}
group_14={{ null }}
group_15={{ null }}
group_16={{ null }}
group_17={{ null }}
group_18={{ null }}
group_19={{ null }}
group_20={{ null }}
group_21={{ null }}
group_22={{ null }}
group_23={{ null }}
group_24={{ null }}
group_25={{ null }}
group_26={{ null }}
group_27={{ null }}
group_28={{ null }}
group_29={{ null }}
group_30={{ null }}
group_31={{ null }}
group_32={{ null }}
group_33={{ null }}
group_34={{ null }}
group_35={{ null }}
group_36={{ null }}
group_37={{ null }}
group_38={{ null }}
group_39={{ null }}
group_40={{ null }}
group_41={{ null }}
group_42={{ null }}
group_43={{ null }}
group_44={{ null }}
group_45={{ null }}
group_46={{ null }}
group_47={{ null }}
group_48={{ null }}
group_49={{ null }}
group_50={{ null }}
group_51={{ null }}
group_52={{ null }}
group_53={{ null }}
group_54={{ null }}
group_55={{ null }}
group_56={{ null }}
group_57={{ null }}
group_58={{ null }}
group_59={{ null }}
group_60={{ null }}
group_61={{ null }}
group_62={{ null }}
group_63={{ null }}


col_vudoint={{ yellow }}
iuto_item_unsel={{ red }}


{# Configuration for gui, images and fonts to use #}
[REAPER]
ui_img=assets
tl_font=F4FFFFFF000000000000000000000000BC0200000000000003020122417269616C00610070204C61726765006572696600000000000000000000000042
mi_font=F5FFFFFF0000000000000000000000009001000000000000030201224D6963726F736F66742053616E732053657269660000000000000000000000002F
lb_font=F5FFFFFF000000000000000000000000900100000000000003020122417269616C00426C61636B00000000000000000000000000000000000000000071
lb_font2=0E0000000000000000000000000000009001000000000001000000004D53205368656C6C20446C6700000000000000000000000000000000000000008F
trans_font=E5FFFFFF000000000000000000000000900100000000000003020122417269616C006100000000000000000000000000000000000000000000000000E5
user_font0=0C000000000000000000000000000000900100000000000100000000417269616C00000000000000000000000000000000000000000000000000000087
user_font1=0C000000000000000000000000000000900100000000000100000000417269616C00000000000000000000000000000000000000000000000000000087
user_font2=0C000000000000000000000000000000900100000000000100000000417269616C00000000000000000000000000000000000000000000000000000087
user_font3=0C000000000000000000000000000000900100000000000100000000417269616C00000000000000000000000000000000000000000000000000000087
user_font4=0C000000000000000000000000000000900100000000000100000000417269616C00000000000000000000000000000000000000000000000000000087
user_font5=0C000000000000000000000000000000900100000000000100000000417269616C00000000000000000000000000000000000000000000000000000087
user_font6=0C000000000000000000000000000000900100000000000100000000417269616C00000000000000000000000000000000000000000000000000000087
user_font7=0C000000000000000000000000000000900100000000000100000000417269616C00000000000000000000000000000000000000000000000000000087
