[color theme]
{#  macro for easier processing
`f,a;a;akkkkve"jkhvi"y?FF0000jjvi"pjvey?00FF00jjVvi"pjvey?0000FFjjvi"p`
#}
{% for element, info in elements.items() -%}{% if info != "TODO" -%}
{{ element }}={{ info.value }} ; {{ info.description }}
{% endif %}{%- endfor -%}
[REAPER]
ui_img=Mnml
{% for font in fonts -%}
{{ font.name }}={{ font.value }} ; {{ font.description }}
{%- endfor -%}
